body {

    color: #000;
    background-color: #f1f1f1;
}

.frame{
    width: 1200px;
    height:400px;
    background: linear-gradient(to top, #cc9966, #ac7339);
    font-family: 'Tajawal', sans-serif;
    box-shadow: 1px 2px 10px grey;
    /* center itself */
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    /* center its children */
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 1000px;
    height: 300px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-row-gap: 2px;
}

.main{
    background: white;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image{
    position: relative;
    margin-top: 1%;
    margin-bottom: 2%;
}

.circle1, .circle2{
    border: 1px solid grey;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all 1.5s;
    position: absolute;
}

.circle1{
    height: 108px;
    width: 108px;
    border-color: grey transparent grey grey;
    left: -5px;
    top: -5px;
}

.circle2{
    height: 110px;
    width:110px;
    border-color:grey grey grey transparent;
    top: -3px;
    left: -3px;
}

.image:hover .circle1, .image:hover .circle2{
    transform: rotate(360deg);
    cursor: pointer;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.bio{
    font-weight: 20px;
    font-size: 12px;
    position: relative;
    top: -28px;
}

.btn{
    width: 120px;
    height: 35px;
    border: black solid;
    border-radius: 40px;
    text-align: center;
    font-size: 14px;
}

.btn p{
    position: relative;
    top: -6px;
    font-weight: bold;
}

.social{
    background: #FFFFFF;
    color: #010101;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* mise en page globale*/
.cover-text{
    padding-top: 5%;
    width: 100%;
    text-align: center;
}
.cover-text h1{
    text-transform: uppercase;
    font-family: 'Roboto' , sans-serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 14px;
    vertical-align: middle;
}
.cover-text p{
    font-family: 'Roboto' , sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 4px;
    margin-top: 16px;
    margin-left: -6px;
}

p {
    font-size: 1rem;
    font-family: 'Roboto' , sans-serif;
    font-weight: 100;
    line-height: 2rem;
}

/* Button DL CV*/
.btn-cv {
    text-align: center;
    width: 200px;
    padding-top: 30px;
    margin: 30px;
}

.btn-outline-cv {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    background: linear-gradient(-45deg, #ee7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 40px;
}
.btn-outline-cv a {
    color: #f1f1f1 !important;
}
.btn-outline-cv:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-outline-cv a:hover {
    text-decoration: none;
}

@-webkit-keyframes Gradient {
    0% {
        background-position:0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* Timeline */
.timeline {
    width: 100%;
    max-width: 800px;
    background: #fff;
    padding: 100px 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);   }

.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(33% + 15px);
    bottom: 0px;
    width: 4px;
    background: #ccc;
}

.timeline:after {
    content: "";
    display: table;
    clear: both;
}

.timeline-entry {
    clear: both;
    text-align: left;
    position: relative;
}

.timeline-entry .timeline-title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: 30px;
    text-align: right;
    position: relative;
}

.timeline-entry .timeline-title:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 5px solid #23252f;
    background-color: #c79b1b;
    border-radius: 100%;
    top: 15%;
    right: -10px;
    z-index: 99;
}

.timeline-entry .timeline-title h3 {
    margin: 0;
    font-size: 120%;
}

.timeline-entry .timeline-title p {
    margin: 0;
    font-size: 100%;
}

.timeline-entry .timeline-body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 30px;
}

.timeline-entry .timeline-body p {
    line-height: 1.4em;
}

.timeline-entry .timeline-body p:first-child {
    margin-top: 0;
    font-weight: 400;
}

.timeline-entry .timeline-body ul {
    color: #aaa;
    padding-left: 0;
    list-style-type: none;
}

.timeline-entry .timeline-body ul li:before {
    content: "–";
    margin-right: 0.5em;
}




